<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068670035033-2es4dqka3b5uofkqfjv80cqa6kjq9knc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068670035033-2es4dqka3b5uofkqfjv80cqa6kjq9knc</string>
	<key>API_KEY</key>
	<string>AIzaSyAGPMhr2Zvsim_Mq_aXNUgQup3083rr6iA</string>
	<key>GCM_SENDER_ID</key>
	<string>1068670035033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastAppBase</string>
	<key>PROJECT_ID</key>
	<string>inhacarpool-b190f</string>
	<key>STORAGE_BUCKET</key>
	<string>inhacarpool-b190f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068670035033:ios:53db38e0874c0d0b2cbd48</string>
</dict>
</plist>